<div class="km-btn-group operation-group">
	<!-- <div class="km-btn-item import-node"
         ng-click="importnode()"
         title="{{ 'importnode' | lang:'ui/command' }}">
        <span>{{ 'importnode' | lang:'ui/command' }}</span>
    </div>
    <div class="km-btn-item export-node"
         ng-click="exportnode()"
         title="{{ 'exportnode' | lang:'ui/command' }}">
        <span>{{ 'exportnode' | lang:'ui/command' }}</span>
    </div> -->
    <div class="km-btn-item remove-node"
         ng-disabled="minder.queryCommandState('RemoveNode') === -1"
         ng-click="minder.queryCommandState('RemoveNode') === -1 || minder.execCommand('RemoveNode');"
         title="{{ 'removenode' | lang:'ui/command' }}">
        <span class="uex-icon-delete"></span>
    </div>
    <input type="file" id="files" style="display:none" onchange="minderImportData()"/>
</div>
